body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#year {
    font-weight: bold;
}
